


body {
    clear: both; 
   
    font-family: "roboto"; 
    
}

header {
    color: blue; 

}


h1 {
    clear: both;  
    font-family: "lato"; 
    font-weight: 800;    
   
   }
   



h1.coding-header {
    font-family: 'Dela Gothic One', cursive;
    color: green; 
    padding: 20px; 

}

#codingHeader {


}


@media screen and (min-width: 300px) and (max-width: 600px) {



h1 {
    color: green; 
    background-color: blue; 
}





}



@media screen and (min-width: 601px) and (max-width: 1000px) {



    h1 {
        color: white; 
        background-color: black; 
    }
    
    
    
    
    
    }
